---
layout: specimen-detail.njk
title: "Gait Runner"
specimenClass: "Species"
price: "$0+"
image: "gaitrunner.jpg"
checkoutUrl: "https://symphagos.lemonsqueezy.com/buy/826682"
description: |
  4000 earth cycles after Eadweard Muybridge mesmerized the masses with mathematical motion capture, a new Symphagos species of quantizeable quadruped now captures my curiosity.

  Introducing Gait runner, an equine effect that encourages experimentation straight out of the gate.

  Echoing the rhythms of Muybridge’s mathematics, Gait Runner has two modes: walk and gallop, but this stuttery stampeder is not merely a one trick pony.

  Observe the oodles of options to oscillate this undulating ungulate. Play with pitch, vary velocity, fine tune filtering, randomize rhythm, and more.

  Sync this syncopated stallion to your tempo, or let this rhythmic racehorse run free, but either way, enjoy it for free, my dear disc jockeys.

  Blaze new trails with Gait Runner.

  Chordially,

  ~ Dr. Dara Dawes

  Effect Plugin in AU format for MacOS
embedCode: ''
---
