---
layout: specimen-detail.njk
title: "Kophon: The Rock Star Volume 1"
specimenClass: "Soundscape"
price: "$0+"
image: "Kophon_The_Rock_Star_Vol1.webp"
checkoutUrl: "https://symphagos.lemonsqueezy.com/buy/826650"
description: |
  As I descended deep into the Blumooda system, seasoned star haulers warned of a perilous pentangle known as the flat five, drenched in devilish dissonance. Deliverance from its discordant depths remains…unresolved.

  And those bold enough to brave the Blumooda Pentangle must face the wrath of Kophon: The Rock Star.

  If Symphagos is the birther of biology sustained by sound, Kophon, its sinister sun, is the salient sonic silencer. Sound and silence, life and death, daisy-chained in a delicate duet.

  Opportunely, the orbital oscillation of Symphagos saved my ship from scalding slaughter.

  Subsequently, I mobilized a monitoring module to document this diabolical disk of destruction on whose heat I now definitively depend.

  Venture into the volatile vault of volume 1.

  ~ Dr. Dara Dawes

  Contains 78 dark cinematic ambient samples from the Blumooda system. 

  48khz 24bit wav  804.9 MB
embedCode: '<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/soundcloud%253Atracks%253A2259976742&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/symphagos" title="Symphagos" target="_blank" style="color: #cccccc; text-decoration: none;">Symphagos</a> · <a href="https://soundcloud.com/symphagos/symphagos-kophon-the-rock-star" title="Symphagos - Kophon The Rock Star Vol1" target="_blank" style="color: #cccccc; text-decoration: none;">Symphagos - Kophon The Rock Star Vol1</a></div>'
---
