---
layout: specimen-detail.njk
title: "The Bugle Volume 3: Spaceship Engines & Machinery"
specimenClass: "Soundscape"
price: "$22"
image: "the_bugle_vol1_MINI_PACK_2.webp"
checkoutUrl: "https://symphagos.lemonsqueezy.com/checkout/buy/3b6d57e7-5966-4900-bcd8-65d9bec03982"
description: |
  Core to this cosmic cruiser is the embouchure engine. Emanating excessive energy, this copper coiled contraption clamors with commotion. Bore boosters boom with brassy bombast. The glottal throttle grinds into gear. Airflow accents aroar audaciously. The Bugle beams into bellowing bedlam.

  Ballasts buzz with frying ferrule fuzz. Negligence is to blame for these noisomely noisy nonsensical nether nodes. Mutated mutes and a tip tapestry of sounds throb through the thorax of this buzzing beast.

  The spit valves sputter with such a squelch that I could nearly belch. The gussets gurgle. The chambers chug. The water key wiggles like a bug in a rug. Monel murmurs fill the hall. Hear the liquid rise and fall.

  Subsequent to restocking at a star port, I asked a bystander to grab the sample snatcher while I whizzed past. They captured crescendo cold starts, rotary radiators, descent dampeners, and of course the glorious gilded glide-bys. Additionally, the legato levitators and sousaphone superdrive made quite a racket!

  Chordially,
  ~Dr. Dara Dawes 
  
  Contains 225 retrofuturistic samples from the HMS Bugle
  48khz 24bit wav 630.8 MB
  
embedCode: '<div style="display: flex; justify-content: center;"><iframe width="560" height="315" src="https://www.youtube.com/embed/msNpI5Gnn9A?si=HePqHTiGA--Wrl6Z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>'
---
