---
layout: specimen-detail.njk
title: "The Bugle Volume 1 Free Teaser"
specimenClass: "Soundscape"
price: "$0"
image: "the_bugle_vol1_FREE_TEASER.webp"
checkoutUrl: "https://symphagos.lemonsqueezy.com/checkout/buy/27355ba4-397e-4821-8bb9-09035627481b"
description: |
  My galactic gift to you: a free teaser containing one sample from each of the 18 categories in The Bugle Volume 1. The full version consists of 787 samples, ranging from one-shots to 2-minute sprawling soundscapes.
  
  Chordially,
  ~Dr. Dara Dawes
  
  Contains 18 retrofuturistic samples from the HMS Bugle
  48khz 24bit wav 63.7 MB
  
embedCode: '<div style="display: flex; justify-content: center;"><iframe width="560" height="315" src="https://www.youtube.com/embed/rL_Sv5jpj1M?si=7nvzy2unWwiOB_Ui" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>'
---
