---
layout: specimen-detail.njk
title: "The Bugle Volume 1"
specimenClass: "Soundscape"
price: "$48 launch special, ends April 15th"
image: "The_Bugle_Vol1.webp"
checkoutUrl: "https://symphagos.lemonsqueezy.com/checkout/buy/3b6d57e7-5966-4900-bcd8-65d9bec03982"
description: |
  As I charted a course from my clockwork cosmic colony of Chrontos into the vast vacant void, I found myself in a sort of "grand pause" between my past and my future.  And in this space between, this relentless rest, the silence was broken only by the steady strum of my starship, the HMS Bugle, so named for its singular Sousaphonic shape. Through the tireless tempo of time, this galactic galleon's gurgling guts softly soothed my bustling brain. The Bugle was…instrumental in guiding my journey through both outer and inner space.
  
  Drifting over daunting distances, I determined to devote my distended downtime to documenting the droning depths of this deep-space dreadnought, and use its temporal transposer to transmit the ship's surreal sounds back to you, sonic seeker!
  
  This colossal collection captures the full-spectrum flare of the familiar frigate I have fondly flown into far-flung frontiers. The Bugle is steeped in science, but to you it may sound like fiction. And much like the tales of tomorrow from your twentieth century television sets, I too found myself…lost in space.
  
  Discover a whole shipload of sounds with abstract acoustics ranging from raw to radiant. Step into a stellar sound bath of blips, bloops, squibble squabs, and fizzle pops.

  But surely I don't intend to toot my own horn. Partake in the phonic feast of this hour-long sonic Solfeggio smorgasbord, with a generous garnish of The Bugle's flavorsome frequencies; and see if these auditory appetizers, euphonic entrées, and mellifluous melodic morsels are to your taste.
  
  Chordially,
  ~Dr. Dara Dawes
  
  Contains 787 retrofuturistic samples from the HMS Bugle
  48khz 24bit wav 2.88 GB
  
embedCode: '<div style="display: flex; justify-content: center;"><iframe width="560" height="315" src="https://www.youtube.com/embed/UXF56i3SvY8" title="The Bugle Volume 1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>'
---
