---
layout: specimen-detail.njk
title: "The Bugle Volume 4: Space Ambience & Anomalies"
specimenClass: "Soundscape"
price: "$22"
image: "the_bugle_vol1_MINI_PACK_4.webp"
checkoutUrl: "https://symphagos.lemonsqueezy.com/checkout/buy/c3220d52-abc9-44f7-b959-f24775f278a9"
description: |
  Devilish drones discharge from the bowels of bell as dirge-like duty cycles in the dark depths. Mystery makes this machinery more menacing than the technical truth: A mere murmur of mechanical moans, nothing more.

  As with any contraption, one cannot circumvent crooks in the calibrators, or as you folks of yesteryear would call them, “glitches." There is a chimerical charm to these chameleonic characteristics. Babbling buffers, pressure point percussion, and corroded cadences. Occasionally, an oscillator will overblow. A cadence of chaos will then coarse through the causeways until the cause is corrected. Here’s to happy accidentals.

  To encode the echos of the euphonium expanse, I secured the sample snatcher to the starboard side of the ship. Perhaps you are wondering how sound waves were sampled in the emptiness of space. Naturally the answer is SCIENCE!

  Chordially,
  ~Dr. Dara Dawes

  Contains 100 retrofuturistic samples from the HMS Bugle
  48khz 24bit wav 875.5 MB
  
embedCode: '<div style="display: flex; justify-content: center;"><iframe width="560" height="315" src="https://www.youtube.com/embed/HPQxTcQHCys?si=QhngFOleviDiUXjh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>'
---
