---
layout: specimen-detail.njk
title: "The Bugle Volume 2: Impacts, Weapons, & Energy"
specimenClass: "Soundscape"
price: "$18"
image: "the_bugle_vol1_MINI_PACK_2.webp"
checkoutUrl: "https://symphagos.lemonsqueezy.com/checkout/buy/fe6dc1af-852f-4ac1-9518-e64d93262293"
description: |
  Cover thine ears, for the blasting blares are bombastically booming! Percussive pops of power, these pronounced pulses secure the safety of my small starship by deterring dangerous denizens from creeping too close.

  Partway through the pipe, a passenger can perceive a high pitched sizzle of sibilances. So scintillating to the senses are they that they slash and sear through the straits of the ear, like the anime sounds of yesteryear.

  The temporal transposer is tantamount to my transmissions across the tides of time. These retrofuturistic recordings have me... *beaming* from ear to ear, reminiscent of a certain science fiction matter mover. Supplying its peculiar power is a burst of leadpipe lightning, engorged with electric energy.

  And just as every terraformer must have a base, so must every song have bass. The pedal note plunge dives into the below-deck bellows of the Bugle. Take a journey down the tubas and put the pedal to the metal.

  Chordially,
  ~Dr. Dara Dawes
  
  Contains 138 retrofuturistic samples from the HMS Bugle
  48khz 24bit wav 194.1 MB
  
embedCode: '<div style="display: flex; justify-content: center;"><iframe width="560" height="315" src="https://www.youtube.com/embed/v-ilmHfdcpM?si=JgUkDBCrykMNqdcy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>'
---
